@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root {
    --yellow: #f9ca24;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

body {
    background: #111;
    overflow-x: scroll;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.user h3 span {
    color: var(--yellow);
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 2rem;
    border-radius: 3rem;
}

.btn:hover {
    background: var(--yellow);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    color: #fff;
}

.heading span {
    color: var(--yellow);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 17rem;
    /* border-radius: 50%; */
    /* object-fit: cover; */
    margin-bottom: 1rem;
    /* border: .4rem solid var(--yellow); */
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}


header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: var(--yellow);
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow);
}

.home h2 {
    font-size: 3rem;
    color: #fff;
}

.home h2 span {
    color: var(--yellow);
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.home p span {
    color: var(--yellow);
}

.cont {
    text-align: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.images p {
    font-size: 2rem;
    text-align: center;
    color: #eee;
    padding: 1rem 0;
}

.images {
    display: flex;
}

.images label {
    width: 50%;
    text-align: center;
    content: "";
    clear: both;
    display: table;
}

.images label img {
    height: 30rem;
    margin: 1rem 2rem;
}

.abstract p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.abstract p span {
    color: var(--yellow);
}

.about .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-left: 4rem;
    padding-bottom: 0rem;
}

.about h2 span {
    color: var(--yellow);
}

.about .info {
    flex: 1 1 48rem;
    padding: 1rem 0rem;
    padding-left: 6rem;
}

.about .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .contact {
    flex: 1 1 48rem;
    padding: 1rem 0rem;
    padding-left: 6rem;
}

.about .contact h3 {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.about .info h3 span {
    color: #eee;
    padding: 0 .5rem;
}

input[type="file"] {
    margin-left: 2rem;
    position: relative;
}

input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}